<footer id="footer">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="copyright">
                    <li>&copy; ObfusQate 2024. All rights reserved.</li>
                </ul>
            </div>
        </div>
    </section>
</footer>